<mat-card style="background-color: white; margin: 5%;">

    <h3 style="color: black; font-size: 0.8cm;"><u>Trainer Registration</u></h3>

    <br>
    
    
    <mat-label style="color: black;">Username &nbsp;</mat-label>
    <input style="width: 50%;" matInput placeholder=" ">

    <br><br>

    <mat-label style="color: black;">First Name  </mat-label><br>
    <input style="width: 80%;" matInput placeholder=" ">

    <br><br>

    <mat-label style="color: black;">Last Name  </mat-label><br>
    <input style="width: 80%;" matInput placeholder=" ">

    <br><br>

    <mat-label style="color: black;"> User ID  </mat-label><br>
    <input style="width: 80%;" matInput placeholder=" ">

    <br><br>
  
    <mat-label style="color: black;">Email  </mat-label><br>
    <input style="width: 80%;" matInput placeholder=" ">

    <br><br>

    <button  mat-flat-button color="primary">Create</button> 
   
</mat-card>